body, textarea, button, label, input, select, p, a {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  /*font-size: 0.97em!important;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  */
  /*
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-family: "Baloo Chettan 2", sans-serif;
  font-family: "Baloo Paaji 2", sans-serif;
  font-family: "Baloo Da 2", sans-serif;
  font-family: "Baloo Bhai 2", sans-serif;
  font-family: "Baloo Bhaina 2", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Mulish", sans-serif;
  */

  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Lato", sans-serif;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#links_area, #kb_area {
  margin-top-: 12px;
  padding: 12px 0px 8px 8px;
  height-: calc(100vh - 164px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width-: thin;
  scrollbar-color-: lightgray transparent;
}
#kb_area {
  height-: calc(100vh - 64px);
}

.margin-8 {
  width: calc(100% - 8px);
  margin: 12px 8px 0px 8px;
}

body {
  border-radius-: 15px;
  background: #ebeff7;
  background: #dee2e6;
}
.nav-tabs .nav-link.active {
  border-color: transparent;
  border-radius: 15px 0 0 0;
}

.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}

.nav-link.active.save-tab-pane {
  border-right: 1px solid #dee2e6;
  border-radius: 15px 0 0 0;
}

.nav-link.active.find-tab-pane {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-radius: 0;
}
.nav-link.active.kb-tab-pane {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid transparent;
  border-radius: 0 12px 0 0;
}

#priority {
  min-height-: 36px;
  cursor: pointer;
  background-: transparent;
  position-: relative;
  z-index-: 10;
  padding-bottom-: 7px;
}

#container {
  margin: 1px;
  background: white;
  height: calc(100vh - 2px);
  border-radius: 15px;
  padding-top: 8px;
  overflow-y: hidden;
}

.btn {
  border-radius-: 8px;
}

textarea, input, button#save {
  border-radius-: 8px!important;
}

.right-half-border-radius {
  border-radius: 0 0.375rem 0.375rem 0!important;
}

.priority_placeholder {
  position: relative;
  top: -100px;
  left: 22px;
  color: #585c5f;
  color: gray;
  z-index: 1;
}

.btn-group {
  width: 100%;
}
.left-half-border-radius {
  border-radius: 0.375rem 0 0 0.375rem!important;
}
.all-around-border-radius {
  border-radius: 5px!important;
}
/*
select {
  color: #585c5f!important;
}
*/

#tags_hint {
  margin: 5px 0 15px 12px;
  display: none;
}
.suggested_tag {
  margin: 0 1px 0 1px;
}

#notes, #time {
  overflow-y: hidden;
}

#what_to_do, #priority {
  cursor: pointer;
  color: gray;
}
#what_to_do {
  width: 50%;
  height: 38px;
}
#time {
  width: 50%;
  height: 36px;
}

#links_placeholder, #kb_placeholder {
  text-align: center;
  position: relative;
  margin-top: 60%;
}

#links_export {
  padding: 5px 10px;
  font-size: 0.9em!important;
  background: #ebeff7;
}
#links_export a {
  font-size: 0.9em!important;
}

#link, #title {
  min-height-: 59px!important;
  overflow-y: hidden;
  height: 35px;
}
#link {
  margin-top: 1px;
}
#tags {
  overflow-y: hidden;
}

#chart_total, #chart_what_to_do {
  height: 36px; 
  width: calc(100% - 16px - 37px); 
  background: transparent; 
  position: relative; 
  top: -104px; 
  z-index: 0; 
  margin: 0 27px; 
  transform: rotateX(-180deg);
}
.chart_total {
  width: 1.96%; 
  background: mediumspringgreen;
  background: #dee2e6;
  background: lightgray;
  float: left;
  border-radius: 0 0 10px 10px;
}
#chart_what_to_do {
  top: -140px;
}
.chart_what_to_do {
  width: 1.96%; 
  background: #0075ff;
  background: #6ba2ff;
  float: left;
  border-radius: 0 0 10px 10px;
}

.animate_fade_in {
  animation: fade_in 0.3s;
}
@keyframes fade_in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate_fade_out {
  animation: fade_out 0.3s;
}
@keyframes fade_out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#priority {
  --sliderColor: #6ba2ff;
}
#priority::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--sliderColor);
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

#find_text {
  border-radius: 8px 0 0 8px!important;
  width: 40%;
}
#find_time {
  border-radius: 0 8px 8px 0!important;
}

p {
  margin-bottom: 8px;
}
.badge {
  padding: 3px 5px;
  font-size: 12px;
}

input::placeholder, textarea::placeholder {
  color: gray!important;
}
textarea {
  resize: none;
}
#notes {
  resize: vertical;
}

#clear, #close_collect_form {
  text-align: center;
  margin: 0;
  padding-: 5px;
  margin-top: 4px;
}
#welcome {
  text-align: center;

  /*
  background-image: radial-gradient(gray 1px, transparent 0);
  background-size: 100px 100px;*/
  /*background-position: -19px -19px;*/
}

#form {
  display-: none;
  height-: calc(100vh - 55px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: lightgray transparent;
}
#open_collect_form- {
  display: block;
  position: absolute;
  width: calc(100vw - 32px);
  text-align: center;
  top: calc(100vh - 45px);
}

#top-3-section {
  margin-bottom: 25px;
  margin-top-: 3px;
}

.accordion-body {
  padding: 8px 8px 8px 12px;
  background: #ebeff7;
  border-radius: 8px;
}
hr {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
}
#priority-vs-time {
  margin-top: 6px;
  margin-left: 2px;
}
.form-check-label, input[type="radio"] {
  cursor: pointer;
}
.queue-link-- {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  margin-right: 0;
}
.queue-link {
  border: 1px solid #dee2e6;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  word-wrap: break-word;
  display: inline-block;
  width: 100%;
}
.accordion-collapse {
  margin-left-: 5px;
  margin-bottom-: 10px;
  margin-top-: 8px;
}

h5 {
  font-size: 1.2em;
  color: #808080;
}

.btn-light {
  background: white;
  border-color: #dee2e6;
}

#save_form {
  margin-top-: 12px;

  height-: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width-: thin;
  scrollbar-color-: lightgray transparent;
}

#saved_list {
  margin-top-: 12px;

  height-: calc(100vh - 72px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width-: thin;
  scrollbar-color-: lightgray transparent;
}

.dropdown-menu {
  background: rgb(235, 239, 247);
}
.dropdown-item:hover {
  background-color: white;
}

.bulk_saved_group > .queue-link {
  background-: white;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  padding-bottom-: 16px;
  margin-bottom: unset;
}


/* https://codepen.io/Spemer/pen/baoKPK  */
.custom-scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

/* background of the scrollbar except button or resizer */
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 15px;
  border: 1.5px solid white;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 1.5px solid white;
}
.custom-scroll::-webkit-scrollbar-button {
  display: none
}

#switch_to_saved:not(.btn-success):hover, #switch_to_saved:hover {
  background-color: #146c43;
  color: white;
}
.choose_action_button {
  color: unset;
  padding-: 3px;
}
.choose_action_button:not(.btn-primary):hover, .choose_action_button:hover, .choose_action_button:not(.btn-primary):focus, .choose_action_button:focus {
  background-color: #0a58ca;
  border: 1px solid #0a58ca;
  color: white;
}
.choose_action_button:not(.btn-primary) {
  background-color: #ebeff7;
  border: 1px solid #dee2e6;
}
#switch_to_saved:not(.btn-success) {
  background-color: #ebeff7;
}

.form-check-label {
  padding-left: 2px!important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #ebeff7;
  border-color-: #ebeff7;
  border-color: #dee2e6;
}
.btn-check+.btn:hover {
  border-color: #dee2e6;
  border-color-: #ebeff7;
}
.btn-light- {
  border-color: #ebeff7;
}
label {
  font-size: 15px!important;
}

.bulk_saved_group_restore .queue-link {
  background-color: red;
}

.accordion-button:not(.collapsed) {
  background-color: #ebeff7;
  color: var(--bs-accordion-color);
  font-size: 15px;
}
.accordion-button {
  padding: 8px 12px;
}

.accordion-button::after {
  background-image: url(/images/arrow-down.png);
  scale: 55%;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(/images/arrow-down.png);
  scale: 55%;
}

.dropdown-toggle::after {
  display: none;
}

.choose_action_button:hover img, .choose_action_button:focus img {
  filter: invert(1);
}
.choose_action_button.btn-primary img {
  filter: invert(1);
}

.hostname {
  margin: 0 3px;
}

.bg-warning {
  background-color-: rgb(222 226 230) !important;
}

.form-control:focus, .form-select:focus {  
  box-shadow: 0 0 0 1px rgb(42 128 255 / 80%);
  box-shadow: 0 0 0 1px #0D6EFD;
  box-shadow: none;
  border: 1.5px solid #0060FF;
}
.accordion-button:focus, .form-check-input:focus {
  box-shadow: none;
}
.form-control, .form-select {
  border: 1.5px solid var(--bs-border-color);
}

.margin-6 {
  margin-bottom: 12px;
}

.accordion-collapse {
  overflow-y: auto; 
  height: calc(100vh - 137px);
  scrollbar-gutter: stable;
}
.modal-backdrop.show {
  opacity: 0.38;
  opacity-: 1;
  background: #f6f7f9;
}
.modal-body {
  padding: 10px;
}

#filter {
  margin-top: 8px;
}

.badge.bg-warning {
  background-: #faad14!important;
  background-: #ffc53d!important;
  background: #ffc069!important;
  background-: #ffa940!important;
}

p.bulk_saved_group_restore {
  margin: 0 0 2px 0;
  text-align: right;
}
p.bulk_saved_group_restore a {
  background: #ebeff7;
  padding: 5px 8px;
  border-radius: 8px 8px 0 0;
  display: block;
}
.bulk_saved_group {
  background: #ebeff7;
  padding: 0;
  border-radius: 0px 0 8px 8px;
  margin-bottom: 8px;
}

.edit_in_queue i {
  font-size: 13px;
  padding-left: 2px;
}
.edit_in_queue {
}

.types-icons {
  height: 20px;
  padding-right: 3px;
}

.btn-light-custom {
  background: #ebeff7;
}

#toast {
  position: absolute;
  z-index: 100;
  margin-left: 8px;
  width: calc(100% - 17px);
  font-size: 15px;
  font-family: "Lato";
  background: #198754; //deeppink;
  padding: 0;
  border: 0;
  color: white;
  box-shadow: none;
}
.toast-body {
  padding: 7px 12px;
}
.btn-close {
  filter: invert(1);
  opacity: unset;
}

.queue-link-a {
  margin-right-: 10px;
}
.queue-link-menu {
  margin-bottom-: 10px;
}
.queue-link-button {
  display-: none;
  padding: 0 5px;
  font-size: 0px;
  border: 0;
  visibility: hidden;
  border-radius: 100px;
  padding: 5px;
  top: -8px;

  background-: #ebeff7;
}
.queue-link-button:hover {
  background: #ebeff7;
}
.queue-link:hover .queue-link-button {
  display-: unset;
  visibility: unset;
}
.bulk_saved_group .queue-link-button:hover {
  background: white;
}

/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 40px; /* remove the gap so it doesn't close */
}*/

