body, textarea, button, label, input, select, p, a {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.97em!important;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

label.arsenal-sc {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em!important;
  margin-left: 10px;
  color: gray;
}
/*
#link, #title, #notes, #what_to_do, #time, #tags {
  margin-bottom: 5px;
}
*/

#links_area {
  margin-top: 8px;
  padding: 0 10px 10px 10px;
  height: calc(100vh - 134px);
  overflow-y: auto;
  scrollbar-width-: thin;
  scrollbar-color: lightgray transparent;
}

.margin-8 {
  width: calc(100% - 16px);
  margin: 12px 8px 0px 8px;
}

body {
  border-radius: 15px;
  background: #ebeff7;
}
.nav-tabs .nav-link.active {
  border-color: transparent;
  border-radius: 15px 0 0 0;
}

.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}

.nav-link.active.save-tab-pane {
  border-right: 1px solid #dee2e6;
  border-radius: 15px 0 0 0;
}

.nav-link.active.find-tab-pane {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-radius: 0;
}
.nav-link.active.kb-tab-pane {
  border-left: 1px solid #dee2e6;
  border-right: 0px solid #dee2e6;
  border-radius: 0 12px 0 0;
}

#priority {
  height: 34px;
  cursor: pointer;
  background: transparent;
  position: relative;
  z-index: 10;
  padding-bottom: 7px;
}

#container {
  margin: 8px;
  background: white;
  height: calc(100vh - 16px);
  border-radius: 12px;
}

textarea, input, button#save {
  border-radius-: 8px!important;
}

.input-time {
  /*border-left: 0;*/
  border-radius: 0 0.375rem 0.375rem 0!important;
}

.priority_placeholder {
  position: relative;
  top: -77px;
  left: 22px;
  color: #585c5f;
  color: gray;
  z-index: 1;
}

.btn-group {
  width: 100%;
}
.left-half-border-radius {
  border-radius: 0.375rem 0 0 0.375rem!important;
}
.all-around-border-radius {
  border-radius: 12px!important;
}
/*
select {
  color: #585c5f!important;
}
*/

#tags_hint {
  margin: 5px;
  margin-left: 20px!important;
  color: #585c5f;
}
.suggested_tag {
  margin: 0 1px 0 1px;
}

#notes {
  overflow-y: hidden;
}

#what_to_do {
  cursor: pointer;
  width: 50%;
  color: gray;
}
#links_placeholder {
  text-align: center;
  position: relative;
  margin-top: 38vh;
}

#links_export {
  padding: 5px 10px;
  font-size: 0.8em!important;
  background: #ebeff7;
}

#link, #title {
  min-height-: 59px!important;
  overflow-y: hidden;
  height: 35px;
}
#tags {
  overflow-y: hidden;
}

#chart_total, #chart_what_to_do {
  height: 36px; 
  width: calc(100% - 16px - 37px); 
  background: transparent; 
  position: relative; 
  top: -104px; 
  z-index: 0; 
  margin: 0 27px; 
  transform: rotateX(-180deg);
}
.chart_total {
  width: 1.96%; 
  background: mediumspringgreen;
  background: #dee2e6;
  background: lightgray;
  float: left;
  border-radius: 0 0 10px 10px;
}
#chart_what_to_do {
  top: -140px;
}
.chart_what_to_do {
  width: 1.96%; 
  background: #0075ff;
  background: #6ba2ff;
  float: left;
  border-radius: 0 0 10px 10px;
}

.animate_fade_in {
  animation: fade_in 5s;
}
@keyframes fade_in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate_fade_out {
  animation: fade_out 5s;
}
@keyframes fade_out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#priority {
  --sliderColor: #6ba2ff;
}
#priority::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  background: var(--sliderColor);
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

#find_text {
  border-radius: 12px 0 0 12px!important;
  width: 50%;
}
#find_time {
  border-radius: 0 12px 12px 0!important;
}

p {
  margin-bottom: 8px;
}
.badge {
  padding-bottom: 3px;
}

textarea::placeholder {
  color: gray!important;
}
textarea {
  resize: none;
}

#clear {
  text-align: center;
  margin-top: 8px;
}
