body, textarea, button, label, input, select, p, a {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.97em!important;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

#links_area {
  padding: 10px;
  font-size: 0.97em!important;
}

.margin-5 {
  width: calc(100% - 16px);
  margin: 8px 8px 0 8px;
}

body {
  border-radius: 15px;
  background: #ebeff7;
}
.nav-tabs .nav-link.active {
  border-color: transparent;
  border-radius: 15px 0 0 0;
}

.nav-tabs .nav-link:hover {
  border: 1px solid transparent;
}

.nav-link.active.save-tab-pane {
  border-right: 1px solid #dee2e6;
  border-radius: 15px 0 0 0;
}

.nav-link.active.find-tab-pane {
  border-left: 1px solid #dee2e6;
  border-radius: 0 15px 0 0;
}

#importance {
  height: 36.5px;
  cursor: pointer;
  background: transparent;
  position: relative;
  z-index: 10;
}

#container {
  margin: 8px;
  background: white;
  height: calc(100vh - 16px);
  border-radius: 12px;
}

textarea, input, button#save {
  border-radius: 12px!important;
}

.btn-outline-custom {
  border: 1px solid #dee2e6;
}
.btn-check:checked+.btn-outline-custom {
  background: #ebeff7;
  border: 1px solid #dee2e6;
}

.btn-check+.btn:hover {
  border: 1px solid #dee2e6;
  background: #ebeff7;
}
.btn-outline-custom {
  border-radius: 12px;
}

.input-time {
  border-left: 0;
  border-radius: 0 12px 12px 0!important;
}

#importance_placeholder {
  position: relative;
  top: -75px;
  left: 22px;
  color: #585c5f;
  font-size: 0.97em;
  z-index: 0;
}

.btn-group {
  width: 100%;
}
.left-half-border-radius {
  border-radius: 12px 0 0 12px!important;
}
.all-around-border-radius {
  border-radius: 12px!important;
}
select {
  color: #585c5f!important;
}

#tags_hint {
  margin: 5px;
  margin-left: 20px!important;
  color: #585c5f;
}
.suggested_tag {
  margin: 0 1px 0 1px;
}

#find-tab-pane {
  overflow-y: scroll;
  height: calc(100vh - 60px);
}
#summary {
  overflow-y: hidden;
}